@model Post

<div class="alert" role="alert">
    <h5 class="alert-heading"><strong>@Model.Topic.Name</strong></h5>
    <h5 class=""><strong>@Model.Title</strong></h5>
    <p class=""><strong>Description:</strong> @Model.Description</p>
    <hr>
    <p class="">@Model.Text</p>
    <hr>
    <div class="text-secondary">@Model.User.Login</div>
</div>

